{erl_opts, [debug_info]}.
{deps, []}.

{cover_enabled, true}.
{cover_excl_mods, [power_shell_eval]}.
{cover_opts, [verbose]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [power_shell]}
]}.

{relx, [
    {release, {power_shell, "0.1.0"},
        [power_shell]},

    {include_erts, false}
]}.