{erl_opts, [debug_info]}.
{deps, []}.

{cover_enabled, true}.
{cover_excl_mods, [power_shell_eval]}.
{cover_opts, [verbose, {keep_logs, 1}]}.

{shell, [
    {apps, [power_shell]}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {extras, [
        {"CHANGELOG.md", #{title => "Changelog"}},
        {"CODE_OF_CONDUCT.md", #{title => "Code of Conduct"}},
        {"CONTRIBUTING.md", #{title => "Contributing"}},
        {"LICENSE.md", #{title => "License"}},
        {"README.md", #{title => "Overview"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/WhatsApp/power_shell"}
]}.
